header.header
    .container
        .nav--bar.d-flex.justify-content-between.align-items-center
            .logo
                a(href='index.html')
                    img(src='img/logo.svg' class='img-fluid' draggable='false')
            nav.nav
                ul.links.d-flex.align-items-center
                    li.item
                        a.link(href="#" class='text-uppercase') Home
                    li.item
                        a.link(href="#" class='text-uppercase') leaderboard
                    li.item
                        a.link(href="#" class='text-uppercase') challenges
                    li.item
                        a.link(href="#" class='text-uppercase') my profile
                    li.item
                        a.link(href="#" class='text-uppercase') login