header.header
    .container
        .nav--bar.d-flex.align-items-center
            .logo
                a(href='index.html')
                    img(src='img/logo.svg' class='img-fluid' draggable='false')
            nav.nav
                ul.links.d-flex.align-items-center
                    li.item
                        a.link(href="index.html" class='text-uppercase')
                            i.fas.fa-home
                            | Home
                    li.item
                        a.link(href="leaderboard.html" class='text-uppercase')
                            i.fas.fa-chalkboard
                            | leaderboard
                    li.item
                        a.link(href="challenges.html" class='text-uppercase')
                            i.fas.fa-chess-board
                            | challenges
                    li.item
                        a.link(href="profile.html" class='text-uppercase')
                            i.far.fa-user
                            | my profile
                    li.item
                        a.link(href="login.html" class='text-uppercase')
                            i.fas.fa-sign-in-alt
                            | login
            i.fas.fa-expand.toggle-fullscreen.fa-lg.d-lg-block.d-none
            .bars.d-lg-none
                - for(var i = 0; i <= 2; i++)
                    span.line