header.header
    .container
        .nav--bar.d-flex.justify-content-between.align-items-center
            .logo logo
            nav.nav.py-3
                ul.links.d-flex
                    li.item.ml-4
                        a.link(href="#" class='text-uppercase') Home
                    li.item.ml-4
                        a.link(href="#" class='text-uppercase') leaderboard
                    li.item.ml-4
                        a.link(href="#" class='text-uppercase') challenges
                    li.item.ml-4
                        a.link(href="#" class='text-uppercase') my profile