.hero {
  .container {
    .inner-hero {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5rem;
      transition: all .6s linear;
      @media (max-width: 767px) {
        padding: 4rem 1rem;
      }
      .dots-shape {
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 200px;
        height: 150px;
        background: url('../img/dots.png') repeat;
        transition: .3s linear;
        z-index: 2;
        @media (max-width: 767px) {
          display: none !important;
        }
      }
      h1 {
        position: relative;
        z-index: 3;
        font: 700 5rem/1 $mainFont;
        padding: 6rem 5rem;
        width: 85%;
        letter-spacing: 25px;
        color: $mainColor;
        background: #fff;
        border: 1px solid rgba(0,0,0,.1);
        transition: letter-spacing .5s linear,
                    padding .5s linear,
                    width .5s linear,
                    font-size .5s linear;
        @media (max-width: 767px) {
          font-size: 2rem;
          width: 100%;
        }
        @media (max-width: 992px) {
          padding: 2rem 0;
          letter-spacing: 5px;
        }
        .darkmode--activated & {
          border: 1px solid #333;
          background: $darkColor;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: -150px;
          width: 250px;
          transform: translateY(-50%);
          height: 200px;
          background: url('../img/home-pic.jpg') no-repeat center;
          background-size: cover;
          box-shadow: 0 0 10px rgba(0,0,0,.2);
          transition: .3s linear;
          z-index: 2;
          @media (max-width: 767px) {
            display: none !important;
          }
          @media (max-width: 1200px) {
            right: -170px;
          }
          @media (max-width: 992px) {
            width: 150px;
            height: 120px;
            right: -120px;
          }
        }
        p {
          line-height: 1;
          letter-spacing: 8px;
          font-size: 1rem;
          font-weight: 600;
          padding-top: .5rem;
          color: #414141;
          transition: all .4s linear;
          @media (max-width: 992px) {
            font-size: .8rem;
          }
          @media (max-width: 530px) {
            letter-spacing: 3px;
          }
          .darkmode--activated & {
            color: #fff;
          }
        }
      }
      &.scrolled {
        padding: 2rem;
        .dots-shape {
          opacity: 0;
        }
        h1 {
          letter-spacing: 5px;
          font-size: 3rem;
          padding: 1rem 0;
          width: 100%;
          border-color: transparent;
          &:after {
            opacity: 0;
          }
        }
        p {
          letter-spacing: 2px;
          font-size: .8rem;
        }
      }
    }
  }
}
.banner {
  margin-top: 2.5rem;
  .container {
    .darkmode--activated & {
      background: $darkColor !important;
    }
  }
.inner-banner {
    padding: 3rem 0;
    //SLIDER STUFF
    .slider-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .image-slider {
        padding: 1rem;
        background: #fff;
        border: 1px solid $borderColor;
        .darkmode--activated & {
          background: $darkColor;
          border-color: #333;
        }
        .slider--item {
          width: 100%;
          height: 400px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            z-index: 1;
          }
        }
        .slick-slide {
          position: relative;
          outline: none;
          z-index: 1;
          &.slick-current {
            z-index: 2;
          }
        }
        .slick-track, .slick-list {
          will-change: transform;
        }
        // SLICK ARROW
        .slick-arrow {
          position: absolute;
          top: 0;
          width: 150px;
          height: 100%;
          border: none;
          outline: none;
          background-color: rgba(255,255,255,0);
          text-indent: -999999px;
          z-index: 2;
          cursor: pointer;
          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            top: 50%;
            margin-top: -.689rem;
            transition: all 0.3s cubic-bezier(.55,0,.1,1);
          }
          &:after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 160px;
            top: 50%;
            background-color: rgba(255,255,255,1);
            transition: all 0.4s 0.1s cubic-bezier(.55,0,.1,1);
            opacity: 0;
          }  
          &.slick-prev {
            left: 0;
            &:before {
              border-top: 2px solid rgba(255,255,255,1);
              border-left: 2px solid rgba(255,255,255,1);
              left: 30px;
              transform: rotate(-45deg);
            }
            &:after {
              left: 110px;
            }
            &:hover {
              &:before {
                left: 120px;
              }
              &:after {
                left: 117px;
                opacity: 1;
                width: 50px;
              }
            }
          }
          &.slick-next {
            right: 0;
            &:before {
              border-bottom: 2px solid rgba(255,255,255,1);
              border-right: 2px solid rgba(255,255,255,1);
              right: 30px;
              transform: rotate(-45deg);
            }
            &:after {
              right: 110px;
            }
            &:hover {
              &:before {
                right: 120px;
              }
              &:after {
                right: 117px;
                opacity: 1;
                width: 50px;
              }
            }
          }
        }
        //SLICK DOTS
        .slick-dots {
          padding: 0;
          margin: 0;
          width: 100%;
          position: absolute;
          top: 30px;
          left: 8%;
          z-index: 3;
          li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 2px;
            &.slick-active {
              button {
                background-color: $mainColor;
                border-color: $mainColor;
                width: 30px;
              }
            }    
            button {
              display: block;
              outline: none;
              border: none;
              width: 18px;
              height: 2px;
              background-color: #fff;
              text-indent: -999999px;
              cursor: pointer;
              transition: all 0.2s cubic-bezier(0.84, 0, 0.08, 0.99);
            }
          }
        }
      }
      .text-slider {
        position:relative;
        z-index: 1;
        transition: all .2s linear;
        &:hover {
        z-index: 3;
        }
        .text--slide {
          display: block !important;
          h2 {
            margin-bottom: 1.5rem;
            font-size: 1.7rem;
            animation: fadeOut .2s both;
            span {
              padding-right: .3rem;
              .darkmode--activated & {
                background: $darkColor;
              }
            }
            @media (max-width: 767px) {
              font-size: 1.3rem;
            }
            .darkmode--activated & {
              -webkit-text-stroke-color: #fff;
            }
          }
          p {
            color: $textColor;
            font: 400 .8rem/1.8 $textFont;
            animation: fadeOut .2s both;
            background: $lightColor;
            padding-bottom: 2rem;
            position: relative;
            .darkmode--activated & {
              background: $darkColor;
              color: #888;
            }
            &:before{
                content:'';
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, transparent 0%, $lightColor 90%);
                background-size: 100% 100%;
                background-position: 100% 100%;
                background-repeat: no-repeat;
                transition: all .3s linear;
                @media (max-width: 992px) {
                  content: none;
                }
                .darkmode--activated & {
                background: linear-gradient(to bottom, transparent 0%, $darkColor 90%);
                  
                }
            }
          }
        }
        &:hover .text--slide p:before{
          transition: all .3s linear;
          background-size: 100% 0;
        }
        .slick-active h2 {
          animation: fadeInUp .3s both .8s;
        }
        
        .slick-active p {
            animation: fadeInUp .3s both 1s;
            mix-blend-mode:screen;
        }
      }
      .login-corner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
        right: 15px;
        width: calc(50% - 125px);
        background: #fff;
        border: 1px solid $borderColor;
        padding: 1.5rem 1rem;
        z-index: 2;
        .darkmode--activated & {
          background: #474747;
          border-color: #000;
        }
        .global-btn-style {
          color: $mainColor;
        }
        &:hover {
          z-index: 4;
        }
        @media (max-width: 992px) {
          position: relative;
          bottom: initial;
          right: initial;
          width: 100%;
        }
        a {
          color: inherit;
        }
      }
    }
  }
}
// THIS CLASS ADDED BY JAVASCRIPT EVENT

.do-transition {
  animation: 
    motion-blur 0.1s linear forwards,
    motion-blur 0.4s linear reverse forwards 0.1s;
}
@keyframes motion-blur {
  0% {
    filter: blur(0px);
  }
  15% {
    filter: blur(2px);
  }
  30% {
    filter: blur(3px);
  }
  45% {
    filter: blur(5px);
  }
  60% {
    filter: blur(7px);
  }
  75%,
  100% {
    filter: blur(8px);
  }
}

// TEXT SECTION STYLE
.text-section {
  .text-area {
    padding: 1.5rem;
    background: #fff;
    border: 1px solid $borderColor;
    @media (max-width: 850px) {
      padding: 1.5rem 1rem;
    }
    .darkmode--activated & {
      background: #222;
      border-color: #222;
    }
  }
  h2.text-title {
    @media (max-width: 850px) {
      font-size: 1.3rem;
    }
    span {
      background: #fff;
      .darkmode--activated & {
        background: #222;
        -webkit-text-stroke-color: #fff;
      }
    }
  }
  p.description {
    color: $textColor;
    @media (max-width: 850px) {
      font-size: .8rem;
    }
    .darkmode--activated & {
      color: #888;
    }
  }
}

// sponsors STYLE
.sponsors {
  .container {
    padding: 2rem 0;
    .sponsors-slider {
      display: flex;
      justify-content: space-evenly;
      .item {
        width: 120px !important;
        display: block !important;
        margin: auto;
        height: 120px !important;
        border-radius: 100%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }
}