.mfp-close-btn-in .mfp-close {
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #333;
    border-radius: 50%;
    line-height: normal;
}
.post-holder {
    .modal-content {
        .darkmode--activated & {
            background: #353535;
        }
    }
    .modal-header {
        .darkmode--activated & {
            background: #353535;
            color: #ccc;
            border-color: #555;
        }
        .close {
            .darkmode--activated & {
                color: #ccc;
            }
        }
    }
    .modal-body {
        .darkmode--activated & {
            background: #353535;
            color: #ccc;
        }
    }
    .modal-title {
        font-family: "Poppins", sans-serif;
    }
    .create-post {
        .darkmode--activated & {
            background: #353535;
        }
    }
    .post-input {
        .add-media {
            .media {
                position: relative;
                display: none;
                width: 100%;
                height: 200px;
                margin-bottom: 0.5rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .close-preview {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 5;
                    background: #f6f6f6;
                    border: none;
                    padding: 0;
                    .darkmode--activated & {
                        background: #222;
                        color: #ccc;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            input[type="file"] {
                position: absolute;
                clip: rect(0 0 0 0);
                overflow: hidden;
                opacity: 0;
            }
            label {
                cursor: pointer;
                font-size: 0.85rem;
                display: block;
                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }
                .icon {
                    flex-shrink: 0;
                    color: #45bd62;
                    margin-right: 0.3rem;
                }
            }
        }
        button.submit {
            display: block;
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 0.5rem;
            text-align: center;
            background: #8ea946;
            color: #fff;
        }
        textarea {
            &:focus {
                background: transparent !important;
            }
            .darkmode--activated & {
                background: #353535;
                color: #ccc;
            }
        }
    }
}
.likes-holder {
    .modal-content {
        .darkmode--activated & {
            background: #353535;
        }
    }
    .modal-header {
        .darkmode--activated & {
            border-color: #555;
        }
        .close {
            color: #555;
        }
    }
    ul li {
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;
        a.avatar {
            flex-shrink: 0;
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            padding: 0.3rem;
            margin-right: 0.5rem;
            background: #f2f2f2;
            overflow: hidden;
            .darkmode--activated & {
                background: #444;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        h6.name {
            font-family: "Poppins", sans-serif;
            a {
                color: inherit;
            }
            .darkmode--activated & {
                color: #ccc;
            }
        }
    }
}
.create-post {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 1rem;
    .darkmode--activated & {
        background: #000;
    }
    .author__img {
        flex-shrink: 0;
        margin-right: 0.7rem;
        a {
            display: block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            padding: 0.2rem;
            background: #f2f2f2;
            overflow: hidden;
            .darkmode--activated & {
                background: #2b2b2b;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .post-btn {
        button {
            background: #f2f2f2;
            color: #242424;
            border: none;
            border-radius: 25px;
            padding: 0.5rem 1rem;
            min-width: 350px;
            text-align: left;
            .darkmode--activated & {
                background: #353535;
                color: #ccc;
            }
            @media (max-width: 767px) {
                min-width: auto;
            }
        }
    }
    .author__name h6 {
        font-family: "Poppins", sans-serif;
        .darkmode--activated & {
            color: #ccc;
        }
    }
}
section.news-feed {
    width: 100%;
    max-width: 800px;
    margin: 4rem auto 0;
    &.ajax-popup {
        margin: 0;
        max-width: 100%;
        .media {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                min-height: 70vh;
                max-height: 100vh;
                object-fit: cover;
            }
        }
        .post {
            border-radius: 0;
        }
    }
    .post {
        background: #fff;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1.5rem;
        .darkmode--activated & {
            background: #353535;
            color: #ccc;
        }
        &.post__score--match {
            table.match-info {
                color: inherit;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-thumb {
                    background: $mainColor;
                    border: none;
                    border-radius: 0;
                }
                &::-webkit-scrollbar-track {
                    background: #eeeeee;
                }
                tr {
                    border: none;
                }
                td {
                    vertical-align: middle;
                    &.result-area {
                        white-space: nowrap;
                        span {
                            border: 2px solid $mainColor;
                            padding: .3rem .5rem;
                            margin: 0 .2rem;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        }
                    }
                    .box {
                        min-height: 200px;
                        width: 320px;
                        background: #fafafa;
                        padding: 2rem .7rem;
                        .darkmode--activated & {
                            background: #222;
                        }
                        .team-title {
                            text-align: center;
                            h3 {
                                display: inline-block;
                                padding: .4rem .6rem;
                                border: 2px solid $mainColor;
                                font-family: "Poppins", sans-serif;
                                font-size: 1rem;
                                font-weight: normal;
                                margin: 0;
                            }
                        }
                        ul li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 0.7rem;
                            a {
                                color: inherit;
                                img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    margin-right: .4rem;
                                }
                                span {
                                    font-size: 0.8rem;
                                }
                            }
                            span.rate {
                                background: $mainColor;
                                margin-left: 1rem;
                                font-size: 0.7rem;
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                color: #fff;
                                padding: .2rem;
                                font-weight: 300;
                                border-radius: 5px;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        .author {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            &__img {
                flex-shrink: 0;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 3px;
                background: #f7f7f7;
                overflow: hidden;
                .darkmode--activated & {
                    background: #222;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                font-size: 0.8rem;
                margin-left: 0.5rem;
                .name h5 {
                    font-family: "Poppins", sans-serif;
                    color: #444444;
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                    .darkmode--activated & {
                        color: #ccc;
                    }
                    a {
                        color: inherit;
                    }
                }
                .date {
                    font-family: "Poppins", sans-serif;
                    color: #a8a8a8;
                    font-weight: 300;
                }
            }
        }
        &__content {
            &--text p {
                font-size: 0.95rem;
                font-weight: 300;
            }
            &--media {
                display: block;
                position: relative;
                width: 100%;
                height: 300px;
                overflow: hidden;
                img,
                iframe {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__highlights {
            margin: 1rem 0;
            padding: 0.5rem 0;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-left: 0;
            border-right: 0;
            .darkmode--activated & {
                border-color: #444444;
            }
            span.icon {
                display: inline-block;
                vertical-align: middle;
                font-size: 0.85rem;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                line-height: 25px;
                text-align: center;
                color: #fff;
                background: $mainColor;
                margin-right: 0.5rem;
                @media (max-width: 400px) {
                    font-size: 0.7rem;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    margin-right: 0.3rem;
                }
            }
            button {
                border: none;
                outline: none;
                background: none;
                .darkmode--activated & {
                    color: #ccc;
                }
            }
            span {
                display: inline-block;
                vertical-align: middle;
                font-weight: 300;
                font-size: 0.95rem;
                @media (max-width: 400px) {
                    font-size: 0.75rem;
                }
            }
            .likes-list-btn {
                position: relative;
                .summary-likes {
                    position: absolute;
                    top: calc(100% + 0.3rem);
                    left: 50%;
                    transform: translateX(-50%);
                    background: rgba(#000, 0.7);
                    border-radius: 7px;
                    padding: 0.5rem;
                    width: 120px;
                    display: none;
                    cursor: auto;
                    .darkmode--activated & {
                        background: rgba(#fff, 0.7);
                    }
                    li {
                        text-align: left;
                        font-size: 0.8rem;
                        color: #fff;
                        line-height: 1.5;
                        text-decoration: underline;
                        .darkmode--activated & {
                            color: #000;
                        }
                    }
                }
                &:hover .summary-likes {
                    display: block;
                }
            }
        }
        &__actions {
            display: flex;
            justify-content: space-between;
            button {
                border: none;
                outline: none;
                background: none;
                font-size: 0.9rem;
                .darkmode--activated & {
                    color: #ccc;
                }
                @media (max-width: 400px) {
                    font-size: 0.8rem;
                }
                span.icon {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1.1rem;
                    margin-right: 0.3rem;
                    color: #616161;
                    .darkmode--activated & {
                        color: #ccc;
                    }
                    @media (max-width: 400px) {
                        font-size: 0.75rem;
                    }
                }
                &.like.clicked {
                    color: $mainColor;
                }
                &.like.clicked span.icon {
                    color: $mainColor;
                    animation: grow 0.3s linear;
                    @keyframes grow {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.2) rotate(-20deg);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        &__comments {
            &--list li {
                display: flex;
                margin-top: 1.5rem;
            }
            &--avatar {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0.5rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            &--details {
                background: #f0f2f5;
                padding: 0.5rem 0.8rem;
                border-radius: 20px;
                .darkmode--activated & {
                    background: #222;
                    color: #ccc;
                }
                h6 {
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                }
                p {
                    font-size: 0.9rem;
                    margin: 0;
                    color: #494949;
                    .darkmode--activated & {
                        color: #808080;
                    }
                }
            }
            &--input {
                width: 100%;
                input {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 0;
                    background: none;
                    border: none !important;
                    .darkmode--activated & {
                        color: #ccc;
                    }
                }
            }
        }
    }
}
