
.mfp-close-btn-in .mfp-close {
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #333;
    border-radius: 50%;
    line-height: normal;
}
section.news-feed {
    margin-top: 4rem;
    &.ajax-popup {
        margin: 0;
        .media {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 100vh;
                object-fit: cover;
            }
        }
        .post {
            border-radius: 0;
        }
    }
    .post {
        background: #fff;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1.5rem;
        .author {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            &__img {
                flex-shrink: 0;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                padding: 3px;
                background: #f7f7f7;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                font-size: 0.8rem;
                margin-left: 0.5rem;
                .name h5 {
                    font-family: "Poppins", sans-serif;
                    color: #444444;
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;
                    a {
                        color: inherit;
                    }
                }
                .date {
                    font-family: "Poppins", sans-serif;
                    color: #a8a8a8;
                    font-weight: 300;
                }
            }
        }
        &__content {
            &--text p {
                font-size: 0.95rem;
                font-weight: 300;
            }
            &--media {
                display: block;
                position: relative;
                width: 100%;
                height: 300px;
                overflow: hidden;
                img,
                iframe {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__highlights {
            margin: 1rem 0;
            padding: 0.5rem 0;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-left: 0;
            border-right: 0;
            span.icon {
                display: inline-block;
                vertical-align: middle;
                font-size: 0.85rem;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                line-height: 25px;
                text-align: center;
                color: #fff;
                background: $mainColor;
                margin-right: 0.5rem;
                @media (max-width: 400px) {
                    font-size: 0.7rem;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    margin-right: 0.3rem;
                }
            }
            button {
                border: none;
                outline: none;
                background: none;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                font-weight: 300;
                font-size: 0.95rem;
                @media (max-width: 400px) {
                    font-size: 0.75rem;
                }
            }
        }
        &__actions {
            display: flex;
            justify-content: space-between;
            button {
                border: none;
                outline: none;
                background: none;
                font-size: 0.9rem;
                @media (max-width: 400px) {
                    font-size: 0.8rem;
                }
                span.icon {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1.1rem;
                    margin-right: 0.3rem;
                    color: #616161;
                    @media (max-width: 400px) {
                        font-size: 0.75rem;
                    }
                }
                &.like.clicked {
                    color: $mainColor;
                }
                &.like.clicked span.icon {
                    color: $mainColor;
                    animation: grow 0.3s linear;
                    @keyframes grow {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.2) rotate(-20deg);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        &__comments {
            &--list li {
                display: flex;
                margin-top: 1.5rem;
            }
            &--avatar {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0.5rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            &--details {
                background: #f0f2f5;
                padding: 0.5rem 0.8rem;
                border-radius: 20px;
                h6 {
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                }
                p {
                    font-size: 0.9rem;
                    margin: 0;
                    color: #494949;
                }
            }
            &--input {
                width: 100%;
                input {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 0;
                    background: none;
                    border: none !important;
                }
            }
        }
    }
}
