section.profile-page {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  .container {
    width: 100vw;
    min-height: 100vh;
    .statistics {
      padding: 1.5rem;
      background: #fff;
      margin-top: 100px;
      opacity: 0;
      animation: moveIn 1s 0.2s ease forwards;
      .darkmode--activated & {
        background: #333;
      }
      h2 {
        border: 2px solid $mainColor;
        padding: 0.2rem 0;
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: 600;
        margin-top: 70px;
        opacity: 0;
        animation: moveIn 1s 0.2s ease forwards;
        .darkmode--activated & {
          color: #eee;
        }
      }
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          font-size: 0.85rem;
          margin-bottom: -1px;
          margin-top: 70px;
          opacity: 0;
          animation: moveIn 1s 0.5s ease forwards;
          &:nth-child(odd) {
            background: #fff;
            .darkmode--activated & {
              background: #333;
              color: #eee;
              border-color: rgba(255, 255, 255, 0.1);
            }
          }
          &:nth-child(even) {
            background: #f7f7f7;
            color: #333;
            .darkmode--activated & {
              background: #1b1b1b;
              color: #fff;
              border-color: rgba(255, 255, 255, 0.1);
            }
          }
          i {
            color: #777777;
          }
        }
      }
    }
    .profile-card {
      background: $mainColor;
      width: 150px;
      height: 150px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      overflow: hidden;
      opacity: 0;
      border-radius: 50%;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
      animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
        moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
        moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
        materia 1s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
      .darkmode--activated & {
        background: #333;
      }
      .img-profile {
        margin-top: 70px;
        opacity: 0;
        text-align: center;
        animation: moveIn 1s 3.3s ease forwards;
        a {
          position: relative;
          display: block;
          width: 170px;
          height: 170px;
          margin: auto;
          &:after {
            position: absolute;
            content: "";
            bottom: 3px;
            right: 3px;
            width: 30px;
            height: 30px;
            border: 4px solid #fff;
            transform: scale(0);
            background: $mainColor;
            border-radius: 50%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            animation: scaleIn 0.3s 3.7s ease forwards;
            .darkmode--activated & {
              box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.1);
              border-color: #f2f2f2;
            }
          }
          &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            opacity: 0;
            transition: all 0.2s linear;
            z-index: 5;
          }
          & > img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 1);
            transition: box-shadow 0.3s ease;
            .darkmode--activated & {
              box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.1);
            }
          }
          &:hover > img {
            box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 1);
            .darkmode--activated & {
              box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.3);
            }
          }
          &:hover::before {
            opacity: 1;
          }
        }
      }
      h3.player-name {
        margin-top: 70px;
        opacity: 0;
        animation: moveIn 1s 3.7s ease forwards;
        color: #fff;
      }
      .edit-profile {
        margin-top: 70px;
        opacity: 0;
        animation: moveIn 1s 3.9s ease forwards;
        a {
          background: #222;
          border: none;
          padding: 0.5rem;
          margin: 0.5rem 0;
          float: right;
          color: #fff;
          opacity: 0.7;
          transition: opacity 0.2s linear;
          .darkmode--activated & {
            color: #272727;
            background: #ccc;
          }
          i {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            margin-right: 0.5rem;
            font-size: 1.2rem;
            .darkmode--activated & {
              color: #5e5e5e;
            }
          }
          span {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.85rem;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .player-info {
        li {
          margin-top: 70px;
          opacity: 0;
          padding: 0.7rem 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.8rem;
          color: #fff;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          animation: moveIn 1s ease forwards;
          .darkmode--activated & {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }
          span {
            &:nth-child(1) {
              i {
                margin-right: 0.7rem;
              }
            }
          }
          &:first-child {
            animation-delay: 4s;
          }
          &:nth-child(2) {
            animation-delay: 4.3s;
          }
          &:nth-child(3) {
            animation-delay: 4.7s;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    .chart {
      margin-top: 100px;
      opacity: 0;
      animation: moveIn 1s 0.2s ease forwards;
    }
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
    background: transparent;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: $mainColor;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #e0e0e0;
  }
}
@keyframes materia {
  0% {
    background: #e0e0e0;
  }
  50% {
    top: 50%;
    border-radius: 4px;
  }
  100% {
    width: 100%;
    height: 500px;
    border-radius: 4px;
  }
}
@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

// MATCH HISTORY STYLE
.match-history {
  .stroked-title {
    .darkmode--activated & {
      -webkit-text-stroke-color: #fff;
      span {
        background: $darkColor;
      }
    }
  }
  .table {
    thead {
      background: $mainColor;
      color: #fff;
      th {
        font-weight: 400;
        vertical-align: middle;
        border-top-color: transparent;
        border-bottom-color: transparent;
        @media (max-width: 767px) {
          font-size: 0.85rem;
        }
      }
    }
    tbody {
      tr:nth-child(even) {
        background: #fff;
      }
      tr:nth-child(odd) {
        background: #eee;
      }
      td {
        font-size: 0.9rem;
        vertical-align: middle;
      }
    }
    .darkmode--activated & {
      border-color: #555;
      th {
        color: #fff;
      }
      tbody {
        tr:nth-child(even) {
          background: #333;
        }
        tr:nth-child(odd) {
          background: #222;
        }
        td {
          color: #eee;
          border-color: #555;
        }
      }
    }
  }
}

// EDIT PROFILE BOX STYLE
.edit-box {
  .inner-edit-box {
    background: #fff;
    .stroked-title {
      span {
        background: #fff;
      }
    }
    .darkmode--activated & {
      background: #000;
      .stroked-title {
        -webkit-text-stroke-color: #ccc;
        span {
          background: #000;
        }
      }
    }
    .edit-image {
      .avatar {
        width: 160px;
        height: 160px;
        overflow: hidden;
        margin: auto;
        background: $mainColor;
        padding: .15rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      input[type=file] {
        display: none;
      }
      label {
        background: $mainColor;
        color: #fff;
        padding: .5rem .7rem;
        font-size: .85rem;
        cursor: pointer;
      }
    }
    .edit-personal-info {
      form {
        .form-group {
          input {
            background: rgba(0, 0, 0, 0.1);
            &[type='submit'] {
              background: $mainColor !important;
              color: #fff;
              font-size: .85rem;
            }
            &[type='reset'] {
              font-size: .85rem;
            }
          }
          .position-of-player {
            position: relative;
            background: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 40px;
            padding: 1rem;
            color: #fff;
            cursor: pointer;
            transition: 0.3s ease;
            i {
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              transform-origin: top center;
              transform-box: fill-box;
              transition: all 0.3s linear;
              &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 12px;
                height: 12px;
                border-width: 2px;
                border-style: solid;
                border-color: #999 #999 transparent transparent;
                transform: translateY(-50%) rotate(45deg);
              }
              &.rotate-angle {
                transform: rotate(90deg);
              }
            }
            .darkmode--activated & {
              background: #333;
            }
          }
          .position-submenu {
            width: 100%;
            color: #eee;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            li {
              position: relative;
              padding: 0.6rem 1rem 0.6rem 3rem;
              font-size: 0.8rem;
              letter-spacing: 1px;
              cursor: pointer;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
              transition: all 0.2s linear;
              &:after {
                content: "";
                position: absolute;
                top: 53%;
                left: 0.8rem;
                transform: translateY(-50%);
                width: 22px;
                height: 16px;
                display: block;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background-position: center center !important;
              }
              &:first-child {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                &:after {
                  background: url("../img/positionList/right.png");
                }
              }
              &:nth-child(2) {
                &:after {
                  background: url("../img/positionList/left.png");
                }
              }
              &:last-child {
                border-bottom: 0;
                &:after {
                  background: url("../img/positionList/both.png");
                  width: 28px;
                }
              }
              &:hover {
                background: rgba(0, 0, 0, 0.2);
              }
              .darkmode--activated & {
                background: #555;
                  &:hover {
                    background: rgba(0, 0, 0, 0.1);
                  }
              }
            }
          }
          &.birthdate-calendar {
            position: relative;
            input#datepicker {
              cursor: pointer !important;
            }
            i.birthdate-icon {
              display: block;
              position: absolute;
              top: 53%;
              right: 20px;
              pointer-events: none;
              .darkmode--activated & {
                path {
                  stroke: #ccc;
                }
              }
            }
          }
        }
      }
      .darkmode--activated & {
        label {
          color: #ccc;
        }
        input {
          background: #333 !important;
          color: #ccc;
        }
      }
    }
  }
}
