.sponsors.my-5
    .container
        .sponsors-slider
            .item
                img(src='img/sponsorsSlider/slide01.png' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide02.png' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide03.png' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide04.jpg' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide02.png' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide05.jpg' class='img-fluid' alt='image alt')
            .item
                img(src='img/sponsorsSlider/slide01.png' class='img-fluid' alt='image alt')