
section.news-feed.ajax-popup
    .container
        .row.py-5.m-0
            .col-lg-8.p-0
                .media.h-100
                    iframe(src="https://www.youtube.com/embed/xmUEpSrcEao", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .col-lg-4.p-0
                .post.h-100
                    .author
                        .author__img
                            a(href="profile.html")
                                img(src="img/player.jpg", alt="")
                        .author__info
                            .name
                                h5.text-capitalize
                                    a(href="profile.html") john doe
                            .date
                                span 5/12/2020
                    .post__content
                        .post__content--text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium autem accusamus sequi exercitationem soluta beatae quaerat eligendi, doloribus, explicabo sunt harum voluptatem. Cum, perferendis quidem!
                    .post__highlights
                        .row
                            .col-3
                                div
                                    span.icon.material-icons thumb_up
                                    span 15
                            .col-9.text-right
                                div
                                    button.text-capitalize(data-toggle="collapse" href="#post-comment-3")
                                        span 55 Comments
                    .post__actions
                        button.like
                            span.icon.material-icons thumb_up
                            | Like
                        button.comment(data-toggle="collapse" href="#post-comment-3")
                            span.icon.material-icons-outlined mode_comment
                            | Comment
                        button.share
                            span.icon.material-icons-outlined share
                            | Share
                    .post__comments.collapse.show#post-comment-3
                        ul.post__comments--list
                            li
                                a(href="profile.html").post__comments--avatar
                                    img(src="img/player.jpg", alt="")
                                
                                .post__comments--details.post__comments--input
                                    input.write-comment(type="text", placeholder="Write a comment...")
                            li
                                a(href="profile.html").post__comments--avatar
                                    img(src="img/player.jpg", alt="")
                                
                                .post__comments--details
                                    h6.text-capitalize.m-0 john doe
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            li
                                a(href="profile.html").post__comments--avatar
                                    img(src="img/player.jpg", alt="")
                                
                                .post__comments--details
                                    h6.text-capitalize.m-0 john doe
                                    p consectetur adipisicing elit.
                                    
script(type="text/javascript").
    $(document).ready(function() {
        $(".post__comments").on('hidden.bs.collapse', function(){
            $(this).find('input.write-comment').focus();
        });

        $('.post__actions button.like').click(function() {
            $(this).toggleClass('clicked');
        })
    });