- var PageTitle = 'Banjeda - Challenges';
doctype
html
    head
        include partials/head
    body
        include components/header


        include components/sponsors
        include components/footer
        include partials/footerScripts