- var PageTitle = 'Bandeja - Challenges';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.challenge
            .container.p-5
                .row.pt-5
                    .col-lg-6
                        h2.stroket-title.text-uppercase.stroked-title
                            span team one
                        .row
                            .col-12
                                form(action="", class='form-box')
                                    .form-group.mt-3
                                        select#mselected.form-control(multiple)
                                            option(value="0" data-img="img/player.jpg") Player Name
                                            option(value="1" data-img="img/player.jpg") Player Name
                                            option(value="2" data-img="img/player.jpg") Player Name
                                            option(value="3" data-img="img/player.jpg") Player Name
                            .col-12
                                form(action="", class='form-box')
                                    .form-group.mt-3
                                        select#mselected2.form-control(multiple)
                                            option(value="0" data-img="img/player.jpg") Player Name
                                            option(value="1" data-img="img/player.jpg") Player Name
                                            option(value="2" data-img="img/player.jpg") Player Name
                                            option(value="3" data-img="img/player.jpg") Player Name
                    .col-lg-6.mt-5.mt-lg-0
                        h2.stroket-title.text-uppercase.stroked-title
                            span team two
                        .row
                            .col-12
                                form(action="", class='form-box')
                                    .form-group.mt-3
                                        select#mselected3.form-control(multiple)
                                            option(value="0" data-img="img/player.jpg") Player Name
                                            option(value="1" data-img="img/player.jpg") Player Name
                                            option(value="2" data-img="img/player.jpg") Player Name
                                            option(value="3" data-img="img/player.jpg") Player Name
                            .col-12
                                form(action="", class='form-box')
                                    .form-group.mt-3
                                        select#mselected4.form-control(multiple)
                                            option(value="0" data-img="img/player.jpg") Player Name
                                            option(value="1" data-img="img/player.jpg") Player Name
                                            option(value="2" data-img="img/player.jpg") Player Name
                                            option(value="3" data-img="img/player.jpg") Player Name
                .result-box.mt-5
                    .row
                        .col-12.mb-5.mt-3
                            .form-group.text-center
                                button(type="submit" class='calc-result text-white text-capitalize') calculate expected result
                    .row.justify-content-between.align-items-center.text-center
                        .col-4.p-0
                            .box.bg-white.py-5
                                h3.text-capitalize team One
                                ul.mt-4
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capita rating : 5
                        .col-4.p-0
                            .result-area
                                span 5
                                span -
                                span 8
                        .col-4.p-0
                            .box.bg-white.py-5
                                h3.text-capitalize team two
                                ul.mt-4
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capita rating : 5
                hr.my-5
                .result-box.mt-5
                    .row
                        .col-12.mb-5.mt-3
                            .form-group.text-center
                                button(type="submit" class='calc-result text-white text-capitalize') actual match result
                    .row.justify-content-between.align-items-center.text-center
                        .col-4.p-0
                            .box.bg-white.py-5
                                h3.text-capitalize team one
                                ul.mt-4
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                        .col-4.p-0
                            .result-area
                                span 5
                                span -
                                span 8
                        .col-4.p-0
                            .box.bg-white.py-5
                                h3.text-capitalize team two
                                ul.mt-4
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                                    li
                                        a(href='profile.html')
                                            img(src="img/player.jpg", alt="")
                                            span player name
                                        span.rate.text-capitalize rating : 5
                hr.my-5
                .rating-after-match.my-5
                    h2.stroked-title.text-capitalize.text-center
                        span.pl-4 rating after match
                    hr.my-5
                    .row.mt-5
                        .col-md-6
                            h4.text-center.text-capitalize.stroked-title
                                span.pl-4 team one
                            ul.mt-4
                                li
                                    a(href='profile.html')
                                        img(src="img/player.jpg", alt="")
                                        span player name
                                    span.rate.text-capitalize rating : 5
                                li
                                    a(href='profile.html')
                                        img(src="img/player.jpg", alt="")
                                        span player name
                                    span.rate.text-capitalize rating : 5
                        .col-md-6.mt-5.mt-md-0
                            h4.text-center.text-capitalize.stroked-title
                                span.pl-4 team two
                            ul.mt-4
                                li
                                    a(href='profile.html')
                                        img(src="img/player.jpg", alt="")
                                        span player name
                                    span.rate.text-capitalize rating : 5
                                li
                                    a(href='profile.html')
                                        img(src="img/player.jpg", alt="")
                                        span player name
                                    span.rate.text-capitalize rating : 5
                        .col-12.mt-5
                            .form-group.text-center
                                button(type="submit" class='calc-result text-white text-capitalize') submit




        include components/sponsors
        include components/footer
        include partials/footerScripts
        script.
            function format (option) {
                    if (!option.id) { return option.text; }
                        var src = $('#mselected option').attr("data-img");
                        var ob = '<img src="'+ src +'" />' + option.text + '<span class="rate">Rating : 5</span>';
                    return ob;
                };
            var selectPlayer = [
                "#mselected", "#mselected2", "#mselected3", "#mselected4"
            ]
            $(selectPlayer).each(function(i,v){
                $(v).select2({
                    placeholder: "Choose Player "+ (i % 2 == 0? "One" : "Two"),
                    width: "100%",
                    allowClear: false,
                    maximumSelectionLength: 1,
                    multiple: true,
                    closeOnSelect: true,
                    templateResult: format,
                    templateSelection: function (option) {
                        if (option.id.length > 0 ) {
                            return  option.text;
                        } else {
                            return option.text;
                        }
                    },
                    escapeMarkup: function (m) {
                            return m;
                    }
                });
            })