- var PageTitle = 'Padel';
doctype
html
    head
        include partials/head
        include partials/style
    body

        include partials/footer
        include partials/footerScripts
        
