- var PageTitle = 'Banjeda - Leaderboard';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.leaderboard.my-5
            .container.p-5
                table#leaderboard-table.table.table-striped.table-bordered(cellspacing='0' width='100%')
                    thead
                        th Rank
                        th Player
                        th Rating
                        th Sete Won
                        th Games Won
                        th Games Lost
                    tbody
                        tr
                            td 1
                            td.player-info
                                img(src='https://placehold.it/35x35' alt='').mr-2.img-fluid.rounded-circle.d-inline-block
                                h6.name.name.m-0.d-inline-block.text-capitalize player name
                            td 5
                            td 6
                            td 8
                            td 2
                        tr
                            td 1
                            td.player-info
                                img(src='https://placehold.it/35x35' alt='').mr-2.img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize player name
                            td 5
                            td 6
                            td 8
                            td 2
                        tr
                            td 1
                            td.player-info
                                img(src='https://placehold.it/35x35' alt='').mr-2.img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize player name
                            td 5
                            td 6
                            td 8
                            td 2

        include components/sponsors
        include components/footer
        include partials/footerScripts

