- var PageTitle = 'Bandeja - Leaderboard';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.leaderboard.my-5
            .container.p-5
                table#leaderboard-table.table.table-striped.table-bordered(cellspacing='0' width='100%')
                    thead
                        th Rank
                        th Player
                        th Rating
                        th Sets Played
                        th Sets Won
                        th Games Won
                        th Games Lost
                    tbody
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2
                        tr
                            td 1
                            td.player-info
                                a(href='profile.html').avatar-prof.mr-2.rounded-circle
                                    img(src='https://placehold.it/35x35' alt='').img-fluid.rounded-circle.d-inline-block
                                h6.name.m-0.d-inline-block.text-capitalize
                                    a(href='profile.html') player name
                            td 5
                            td 6
                            td 8
                            td 2
                            td 2

        include components/sponsors
        include components/footer
        include partials/footerScripts

