- var PageTitle = 'Banjeda - Leaderboard';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.leaderboard.my-5
            .container.p-5
                table#leaderboard-table.table.table-striped.table-bordered(cellspacing='0' width='100%')
                    thead
                        - var leaderboardHead = ['Rank','Player','Rating','Sete Won','Games Won','Games Lost']
                        each val in leaderboardHead
                            th=val
                    tbody
                        - var n = 0;
                        while n<15
                            - n++
                            tr
                                each val in ['1','player name','2','5','5','9']
                                    td=val


        include components/sponsors
        include components/footer
        include partials/footerScripts

