- var pageTitle = 'Bandeja - Login';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.log-page(data-aos='fade-up' data-aos-offset='0' data-aos-duration="700")
            .container
                .row.py-5
                    .col-lg-6
                        .form
                            .form-toggle
                            .form-panel.one
                                .form-header
                                    h1 Account Login
                                .form-facebook-log.mb-3
                                    button
                                        i.fab.fa-facebook-square.fa-lg
                                        span.text-capitalize log in with facebook account
                                .form-separated.my-4
                                    span    
                                    span OR
                                    span
                                .form-content
                                    form
                                        .form-group.text-capitalize
                                            label(for='log-username') Username
                                            input(type='text' id='log-username')
                                        .form-group.text-capitalize
                                            label(for='log-password') Password
                                            input(type='password' id='log-password')
                                        .form-group.text-capitalize
                                            input(type='checkbox' id='custom-check')
                                            label.form-remember.text-capitalize(for='custom-check')
                                                | Remember Me
                                            a.form-recovery(href='#') Forgot Password?
                                        .form-group.text-capitalize
                                            button(type='submit') Log In
                            .form-panel.two
                                .form-header
                                    h1 Register Account
                                .form-content
                                    form
                                        .form-group.text-capitalize
                                            label.text-white(for='firstname') First name
                                            input(type='text' id='firstname')
                                        .form-group.text-capitalize
                                            label.text-white(for='lastname') last name
                                            input(type='text' id='lastname')
                                        .form-group.text-capitalize
                                            label.text-white(for='reg-username') username
                                            input(type='text' id='reg-username')
                                        .form-group.text-capitalize
                                            label.text-white(for='reg-password') Password
                                            input(type='password' id='reg-password')
                                        .form-group.text-capitalize
                                            label.text-white(for='cpassword') Confirm Password
                                            input(type='password' id='cpassword')
                                        .form-group.text-capitalize
                                            label.text-white(for='email') Email Address
                                            input(type='email' id='email')
                                        .form-group.text-capitalize
                                            label.text-white(for='tel') tel. number
                                            input(type='text' id='tel')
                                        .form-group.text-capitalize
                                            label.text-white player position
                                            ul.position-of-player
                                                li 
                                                    i
                                                li.text-placeholder
                                            ul.position-submenu
                                                li.text-capitalize right
                                                li.text-capitalize  left
                                                li.text-capitalize  both
                                        .form-group.birthdate-calendar.text-capitalize
                                            i.birthdate-icon
                                                svg(width="25" height="25" viewBox="0 0 53 56" fill="none")
                                                    path(d="M48 7H5C2.79086 7 1 8.79086 1 11V51C1 53.2091 2.79086 55 5 55H48C50.2091 55 52 53.2091 52 51V11C52 8.79086 50.2091 7 48 7Z" stroke="white" stroke-width="3")
                                                    path(d="M0 21H52" stroke="white" stroke-width="3")
                                                    path(d="M15 0V12" stroke="white" stroke-width="4")
                                                    path(d="M39 0V12" stroke="white" stroke-width="4")
                                                    path(d="M15 36L22.5 43.5L39 27" stroke="white" stroke-width="3")
                                            label.text-white(for='datepicker') birthdate
                                            input#datepicker(type='text' placeholder="d-m-Y" data-large-mode="true" data-lock="to" data-translate-mode='true')
                                        .form-group.text-capitalize
                                            button.bg-light(type='submit') Register
                    .col-lg-6.d-lg-block.d-none
                        .bg-form
        #forget-pass.forget-pass
            .box
                span.close-forget-pass ×
                h5.mb-3 Reset Your Password
                form.form
                    .form-group.m-0
                        label(for='') Username Or Email
                        input.form-control(type='email')
                        button(type='submit') Send Password

        include components/sponsors
        include components/footer
        include partials/footerScripts
        script(type="text/javascript").
            var panelOne = $('.form-panel.two').height(),
                panelTwo = $('.form-panel.two')[0].scrollHeight + 200;

                $('.form-panel.two').not('.form-panel.two.active').on('click', function(e) {
                    e.preventDefault();

                    $('.form-toggle').addClass('visible');
                    $('.form-panel.one').addClass('hidden');
                    $('.form-panel.two').addClass('active');
                    $('.form').animate({
                        'height': panelTwo
                    }, 200);
                });
                $('.form-toggle').on('click', function(e) {
                    e.preventDefault();
                    $(this).removeClass('visible');
                    $('.form-panel.one').removeClass('hidden');
                    $('.form-panel.two').removeClass('active');
                    $('.form').animate({
                        'height': panelOne
                    }, 200);
                });

                var $forgotPassword = $('.forget-pass');

                $('.form-recovery').click(function(e){
                    e.preventDefault();
                    $forgotPassword.fadeIn();
                });
                $('.close-forget-pass').click(function(){
                    $forgotPassword.fadeOut();
                });
                $('.form-recovery').click(function(e) {
                    e.stopPropagation();
                })                
                $forgotPassword.find('.box').click(function(e) {
                    e.stopPropagation();
                })                
                $(document).click(function() {
                    $forgotPassword.fadeOut();
                })                
                $(document).keydown(function(e){
                    if (e.keyCode == 27) {
                    $forgotPassword.fadeOut();
                    }
                });