- var PageTitle = 'Banjeda - Profile';
doctype
html
    head
        include partials/head
    body
        include components/header
        section.profile-page.my-5
            .container.py-5.px-3
                .row
                    .col-lg-4.col-md-6.mt-5
                        .statistics
                            ul.text-capitalize
                                h2.text-capitalize
                                    | statistics
                                li
                                    span
                                        i.fas.fa-ellipsis-v.mr-2
                                        | sets played 
                                    span 120
                                li
                                    span
                                        i.fas.fa-ellipsis-v.mr-2
                                        | sets won 
                                    span 85
                                li
                                    span
                                        i.fas.fa-ellipsis-v.mr-2
                                        | sets lost 
                                    span 15
                                li
                                    span
                                        i.fas.fa-ellipsis-v.mr-2
                                        | games won 
                                    span 65
                                li
                                    span
                                        i.fas.fa-ellipsis-v.mr-2
                                        | games lost 
                                    span 15
                    .col-lg-4.col-md-6.mt-md-0.mt-5.order-md-0.order-first
                        .profile-card.py-5.px-3
                            .img-profile
                                a(target='_blank' href='#')
                                    img.img-fluid(src='img/player.jpg')
                            h3.player-name.text-center.text-capitalize.py-3
                                | player name
                            .edit-profile
                                button.text-capitalize.rounded
                                    i.fas.fa-cog
                                    span edit profile
                            ul.player-info.text-capitalize.w-100
                                li.w-100
                                    span
                                        i.fas.fa-bars
                                        | rating 
                                    span 12
                                li.w-100
                                    span
                                        i.fas.fa-bars
                                        | player position 
                                    span right
                                li.w-100
                                    span
                                        i.fas.fa-bars
                                        | height 
                                    span 185 cm
                    .col-lg-4.col-md-6.mt-5
                        .chart
                            img(src='https://placehold.it/400x400' class='img-fluid h-100')
                .row.my-5
                    .col-12
                        .match-history.py-5.px-3
                            h2.text-uppercase.stroked-title
                                span match history
                            table.table

        include components/sponsors
        include components/footer
        include partials/footerScripts

