footer {
    .container {
        background: #222;
        isolation: isolate;
        padding: 0;
        .text-inner {
            padding: 1rem 0;
            p {
                font-size: .95rem;
                font-family: $mainFont;
                strong {
                    color: $mainColor;
                    display: inline-block;
                    isolation: isolate;
                }
            }
        }
    }
}