
html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
body {
	height: 100%;
    font-family: $textFont;
	overflow-x: hidden;
}
.container {
	background: $lightColor;
	position: relative;
	margin-top: 2rem;
}
textarea {
	resize: none;
}
.darkmode--activated .container {
	background: $darkColor !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $mainFont;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
} 
a, a:active, a:hover {
	text-decoration: none;
}
:focus {
	outline: none !important;
}
::-webkit-scrollbar { width:5px;}
::-webkit-scrollbar-thumb { background: #000; border: 1px solid #999; border-radius: 5px  }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-selection {
	background-color: $mainColor;
	color: #fff;
}
::-moz-selection{
	background-color: $mainColor;
	color: #fff;
}
::selection{
	background-color: $mainColor;
	color: #fff;
}
.darkmode-toggle {
	z-index: 60;
}
