// RESET BOOTSTRAP INPUT
.form-control {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
}
// SPECIAL STYLE TO TITLES
.stroked-title {
    background: url('../img/dots.png') repeat;
    letter-spacing: 1px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #242424;
    span {
        display: inline-block;
        background: $lightColor;
        padding-right: 1rem;
    }
}
// GLOBAL STYLE FOR BUTTONS WHICH HAS .global-btn-style
.global-btn-style {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    border-right: 1px solid $mainColor;
    height: 40px;
    line-height: 40px;
    padding: 0 2rem;
    font-size: .9rem;
    position: relative;
    transition: color 0.2s ease-in-out 0s;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &:before {
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eee;
        z-index: -1;
    }

    &:after {
        right: -1px;
        width: 1px;
        height: 40px;
        background-color: $mainColor;
        transform: rotate(-90deg);
        transform-origin: center;
        z-index: 0;
        transition: width 0.3s ease-in-out, 
                    transform 0.2s ease-in-out 0.3s, 
                    z-index 0.15s ease-in-out;
    }
    &:hover {
        color: #fff !important;
        transition: color 0.2s ease-in-out 0.25s;
        &:after {
        z-index: -1;
        transform: rotate(0deg);
        width: 100%;
        transition: transform 0.2s ease-in-out, 
        width 0.3s ease-in-out 0.2s;
        }
    }
}