section.leaderboard {
    .container {
        .table {
            tbody {
                td {
                    font-size: .9rem;
                }
            }
        }
        // ovveride datatables plugin
        .dataTables_info, #leaderboard-table_length {
            display: none;
        }
        #leaderboard-table_filter {
            label {
                .darkmode--activated & {
                    color: #fff;
                    input {
                        background: #444;
                        caret-color: #fff;
                    }
                }
            }
        }
        div.dataTables_paginate {
            margin-top: 2rem;
        }
        .page-item .page-link {
            color: #333;
            font-size: .8rem;
            &:focus{
                box-shadow: none;
            }
            .darkmode--activated & {
                background: #333;
                border-color: #222;
                color: #eee;
            }
        }
        .page-item.active .page-link {
            background: $mainColor;
            border-color: $mainColor;
            color: #fff !important;
        }
    }
    .darkmode--activated & {
        .table-bordered {
            border-color: #555;
            td {
                color: #eee;
                border-color: #555;
            }
            th {
                color: #fff;
            }
            tr.even {
                background: #333;
            }
            tr.odd {
                background: #222;
            }
        }
    }
    thead {
        background: $mainColor;
        color: #fff;
        th {
            font-weight: 400;
            border-top-color: transparent;
            border-bottom-color: transparent;
            @media (max-width: 767px) {
                font-size: .85rem;
            }
        }
    }
    tr.even {
        background: #fff;
    }
    tr.odd {
        background: #eee;
    }
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting:after {
        opacity: 1 !important;
    }
}