
.log-page {
    .container {
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            background: rgba(0,0,0, 0.4);
            width: 100%;
            height: 100%;
        }
        
        .form {
            position: relative;
            z-index: 15;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 30px rgba(0,0,0, .1);
            overflow: hidden;
            .darkmode--activated & {
                background: #383838;
            }
            // Toggle
            &-toggle {
                position: absolute;
                z-index: 10;
                top: 60px;
                right: 60px;
                background: #fff;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                transform-origin: center;
                transform: translate(0, -25%) scale(0);
                opacity: 0;
                cursor: pointer;
                transition: all 0.3s ease;
        
                &:before,
                &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 15px;
                height: 4px;
                background: $mainColor;
                transform: translate(-50%, -50%);
                }
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &.visible {
                    transform: translate(0, -25%) scale(1);
                    opacity: 1;
                }
            }
        
            &-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 0 20px;
                position: relative;
                &:last-child {
                margin: 0;
                }
                label {
                    display: block;
                    margin: 0 0 10px;
                    color: #707070;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1;
                    text-transform: uppercase;
                    letter-spacing: .2em;
        
                .two & {
                    color: #fff;
                    }
                }
                input {
                    outline: none;
                    display: block;
                    background: rgba(0,0,0, 0.1);
                    width: 100%;
                    border: 0;
                    border-radius: 4px;
                    padding: 12px 20px;
                    color: #acacac;
                    transition: 0.3s ease;
                    &:focus {
                        color: #494949;
                    }   
                }
                input[type='checkbox'] {
                    display: none;
                    &:checked + label.form-remember:before {
                        opacity: 1 !important;
                    }
                }
                button {
                outline: none;
                background: $mainColor;
                width: 100%;
                border: 0;
                border-radius: 4px;
                padding: 12px 20px;
                color: #fff;
                font-family: inherit;
                font-size: inherit;
                font-weight: 600;
                line-height: inherit;
                text-transform: uppercase;
                cursor: pointer;
                }
                .form-remember {
                    position: relative;
                    font-size: 12px;
                    color: #707070;
                    letter-spacing: 0;
                    text-decoration: none;
                    padding-left: 1.6rem;
                    cursor: pointer;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 17px;
                        height: 17px;
                        background: $mainColor;
                    }
                    &:before {
                        content: '\2714';
                        position: absolute;
                        top: 50%;
                        left: 4px;
                        transform: translateY(-50%);
                        font-family: 'Font Awesome  5 Free';
                        font-weight: 400;
                        color: #eee;
                        opacity: 0;
                        transition: all .1s linear;
                        z-index: 2;
                    }
                }
        
                .form-recovery {
                    color: $mainColor;
                    font-size: 12px;
                    text-decoration: none;
                }
                .position-of-player {
                    position: relative;
                    background: rgba(0,0,0, 0.1);
                    width: 100%;
                    height: 48px;
                    padding: 1rem;
                    color: #fff;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: 0.3s ease;
                    i {
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                        transform-origin: top center;
                        transform-box: fill-box;
                        transition: all .3s linear;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 12px;
                            height: 12px;
                            border-width: 2px;
                            border-style: solid;
                            border-color: #fff #fff transparent transparent;
                            transform: translateY(-50%) rotate(45deg);
                        }
                        &.rotate-angle {
                            transform: rotate(90deg);
                        }
                    }
                }
                .position-submenu {
                    width: 100%;
                    color: #eee;
                    background: rgba(0,0,0, 0.1);
                    display: none;
                    li {
                        list-style-type: circle;
                        list-style-position: inside;
                        padding: .6rem 1rem .6rem 2rem;
                        font-size: .8rem;
                        letter-spacing: 1px;
                        cursor: pointer;
                        border-bottom: 1px solid rgba(255,255,255,.1);
                        transition: all .2s linear;
                        &:first-child {
                            border-top: 1px solid rgba(255,255,255,.1);
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                        &:hover {
                            background: rgba(0,0,0, 0.2);
                        }
                    }
                }
                &.birthdate-calendar {
                    input#datepicker {
                        cursor: pointer !important;
                    }
                    i.birthdate-icon {
                        display: block;
                        position: absolute;
                        top: 45%;
                        right: 20px;
                        pointer-events: none;
                    }
                }
            }
        
            // Panel
            &-panel {
                padding: 60px calc(5% + 60px) 60px 60px;
                box-sizing: border-box;
        
            // Panel One
            &.one {
                &:before {
                @extend .overlay;
        
                content: '';
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease;
                }
                &.hidden {
                    &:before {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        
            // Panel Two
                &.two {
                    z-index: 5;
                    position: absolute;
                    top: 0;
                    left: 92%;
                    background: $mainColor;
                    width: 100%;
                    min-height: 100%;
                    padding: 60px calc(10% + 60px) 60px 60px;
                    transition: 0.4s linear;
                    cursor: pointer;
                    &:after {
                        content: 'Register From Here';
                        display: block;
                        position: absolute;
                        top: 60px;
                        left: 2%;
                        writing-mode: vertical-lr;
                        color: #fff;
                        transition: 0.3s ease;
                    }
                    &:hover {
                        left: 90%;
                        box-shadow: 0 0 10px rgba(0,0,0, 0.2);
                    }
        
                &.active {
                    left: 10%;
                    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
                    cursor: default;
                    &:after {
                        opacity: 0;
                        }
                    }
                    input {
                        color: #eee !important;        
                        &:focus {
                        color: #fff !important;
                        }
                    }
                    button[type='submit'] {
                        background: #fff !important;
                        color: $mainColor !important;
                    }
                }
            }
        
            // Header
            &-header {
                margin: 0 0 40px;
        
                h1 {
                    padding: 4px 0;
                    color: $mainColor;
                    font-size: 24px;
                    font-weight: 700;
                    text-transform: uppercase;
        
                    .two & {
                    position: relative;
                    z-index: 40;
                    color: #fff;
                    }
                }
            }
            &-facebook-log{
                button {
                    display: block;
                    width: 100%;
                    background: #fff;
                    padding: .5rem .7rem;
                    border: 1px solid #aaa;
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        color: #4267B2;
                        margin-right: .4rem;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: .8rem;
                        color: #747474;
                    }
                }
            }
            &-separated {
                display: flex;
                justify-content: center;
                align-items: center;
                span:nth-child(1), span:nth-child(3) {
                    width: 50%;
                    height: 1px;
                    background: #c4c4c4;
                }
                span:nth-child(2) {
                    margin: 0 .8rem;
                    color: #747474;
                }
            }
        }
        .bg-form {
            background: url('../img/homeSlider/slide04.jpeg') center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}